.dropdown-menu {
  position: absolute;
  top: 65px;
  left: 71.7%;
  z-index: 999;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  right: 1px;
  list-style: none;
  width: 22%;
  max-height: 200px;
  overflow-y: auto;
  color: black;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}
